{% extends "./base_generic.html" %}

{% block content %}
<div class="container">
    <h2>Titre:</h2>
    <p>{{livre.nom}}<p/>
    <h2>Résumé:</h2>
    <p>{{livre.resume}}<p/>
    <h2>Auteur:</h2>
    <p><a class="lien_auteur" href="/bibliotheque/auteurs/{{ livre.auteur.nom}}">{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</a><p>
    <h2>Date de publication:</h2>
    <p>{{ livre.date_de_publication }}</p>
    <div>Likste des livres de l'auteur</div>
    {% for each in livre.auteur.livreauteur.all %}
        <p>{{ each.name }}</p>
    {% endfor %}
</div>
{% endblock %}